body {
    background: #001021;
}

.global-header{
    margin: auto;
    padding-bottom: 50px;
}

.buttondiv {
    position: fixed;
    display: inline-block;
    right: 20px;
}

.buttondiv input {
    transform: skewX(-9deg);
    padding: 10px;
    margin: 10px;
    background: #f3efe0;
    color: #888888;
    border: none;
    box-shadow: -1px 1px 0 #b1aea3,
    -2px 2px 0 #b1aea3,
    -3px 3px 0 #b1aea3;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.titlediv {
    font-family: 'Concert One', cursive;
    font-weight: lighter;
    display: inline-block;
}

.titlediv.main {
    -moz-transform: rotate(-3deg);
    margin-left: -10px;
}

.main h1 {
    margin-bottom: 10px;
    color: #df2935;
    font-size: 8.5rem;
    text-shadow: -1px 1px 0 #7a171d,
    -4px 4px 0 #7a171d,
    -7px 7px 0 #7a171d;
}

/*
    text-shadow: -1px 1px 0 #e2c044,
    -4px 4px 0 #e2c044,
    -7px 7px 0 #e2c044;

*/

.titlediv.sub {
    width: 33%;
    display: block;
    font-size: 1rem;
    color: #5bc0be;
    margin: auto;
}

blockquote {
    text-align: center;
}

figcaption {
    border: none;
    text-align: right;
    margin-right: 6px;
}

.descriptiondiv {
    -moz-transform:skew(0deg, -3deg);
    font-family: 'Catamaran', sans-serif;
    color: #aca686;
    font-size: 1rem;
    width: 50%;
    margin: auto;
    background: #f3efe0;
    padding: 30px;
    box-shadow: -1px 1px 0 #b1aea3,
    -4px 4px 0 #b1aea3,
    -7px 7px 0 #b1aea3;
    border-radius: 10px;
}

.descriptiondiv p, pre {
    -moz-transform:skew(0deg, 3deg);
}

.descriptiondiv h1 {
    -moz-transform:skew(0deg, 3deg);
    margin-bottom: 0;
}

.customform {
    -moz-transform: skewY(3deg);
    font-family: 'Catamaran', sans-serif;
    color: #aca686;
    font-size: 1rem;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    background: #f3efe0;
    padding: 30px;
    box-shadow:
            -1px 1px 0 #b1aea3,
            -4px 4px 0 #b1aea3,
            -7px 7px 0 #b1aea3;

    border-radius: 10px;
}

.closebtn {
    transform: skewY(-3deg);
    float: right;
    border: none;
    font-size: 28px;
    font-weight: bold;
    background-color: #f3efe0;
}

.closebtn:hover,
.closebtn:focus {
    text-decoration: none;
    color: #df2935;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.customform h1 {
    -moz-transform: skew(3deg, 0deg);
    font-family: 'Concert One', cursive;
    font-size: 4.25rem;
    color: #f1db4b;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-shadow: -1px 1px 0 #b0a037,
    -2px 2px 0 #b0a037,
    -3px 3px 0 #b0a037;
}

.inputfield {
    padding: 5px;
    display: flex;
    -moz-transform: skew(-3deg, -3deg);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    box-shadow: -1px 1px 0 #b1aea3,
                -2px 2px 0 #b1aea3,
                -3px 3px 0 #b1aea3;
    border-radius: 10px;
}

.inputfield label {
    display: inline-block;
    text-align: right;
    width: 10%;
    margin: auto;
    margin-left: 10px;
    margin-right: 40px;
}

.inputfield input {
    float: left;
    width: 50%;
    border: none;
    background: #f3efe0;

}

.inputfield.sub {
    background: #0a2463;
    width: 20%;
    box-shadow: -1px 1px 0 #081b49,
    -2px 2px 0 #081b49,
    -3px 3px 0 #081b49;
    border-radius: 10px;
}

.inputfield input[type=submit] {
    background: #0a2463;
    margin: auto;
}

.productpreview {
    font-family: 'Catamaran', sans-serif;
    color: #cfcfcd;
    background: #f9e7e7 ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleitem {
    flex: 0 0 29%;
    margin: 5px;
    float: left;
    width: 33%;
    height: 200px;
    background: #f3efe0;
    box-shadow: -1px 1px 0 #b1aea3,
    -2px 2px 0 #b1aea3,
    -3px 3px 0 #b1aea3;
    border-radius: 10px;
}
/*
.productpreview:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* here's the part that makes things work:
    transform-origin: top left;
    transform: skewY(-3deg);
    z-index: -1;
}
*/
#planettest {
    width: 100%;
    height: 500px;
    border: solid 2px #cfcfcd;
}

#fsmallplanet {
    height: 50px;
    width:  50px;
    border-radius: 50%;
    background: #f4c095;
    display: block;
    position: relative;
}

#descbg {
    position: absolute;
    z-index: -1;
}